{% extends "layouts/general_layout.html" %}


{% block title %}tragos {% endblock title %}



{% block content %}
  <div class= "flex justify-start ">
     <h1 class=" mt-40 ml-4 text-6xl text-white font-semibold">Groceris<br>delivery in 15 minutes
         <p class=" text-white text-2xl ml-4 mt-2">aca iria un mensaje sobre lo que vas a encontrar en la pagina<br>un mensaje motivaodr al final
            <br>aca iria mas info<br> otro mas</p>
     </h1>
   
   </div>
   <div class=" mt-40 flex items-center justify-center min-h-64 container mx-auto">
     <div class= "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
         <div class="rounded-xl shadow-lg bg-black bg-opacity-50 p-4">
             <div class="p-5 flex flex-col">
                 <div class="rounded-xl overflow-hidden">
                     <img  src= "media\post\default\Post_default.png" alt="card-1">
                 </div>
                 <h5 class=" text-white text-2xl md.text-3xl font-medium mt-3">TituloN1</h5>
                 <p class="text-slate-500 text-lg mt-3">aca iria una mini info del post y un ... para seguir leyendo</p>
                 <a href="#" class="text-center bg-blue-500 text-white py-2 rounded-lg font-semibold mt-4">Ver mas</a>
                </div>
            </div>

            <div class="rounded-xl shadow-lg bg-black bg-opacity-50 p-4">
              <div class="p-5 flex flex-col">
                 <div class="rounded-xl overflow-hidden">
                      <img class="w-50 h-50" src= "media\post\default\Post_default.png" alt="card-2">
                 </div>
                 <h5 class=" text-white text-2xl md.text-3xl font-medium mt-3">TituloN2</h5>
                 <p class="text-slate-500 text-lg mt-3">aca iria una mini info del post y un ... para seguir leyendo</p>
                 <a href="#" class="text-center bg-blue-500 text-white py-2 rounded-lg font-semibold mt-4">Ver mas</a>
              </div>
         </div>

         <div class="rounded-xl shadow-lg bg-black bg-opacity-50 p-4">
             <div class="p-5 flex flex-col ">
                 <div class="rounded-xl overflow-hidden">
                     <img src= "media\post\default\Post_default.png" alt="card-3">
                 </div>
                 <h5 class=" text-white text-2xl md.text-3xl font-medium mt-3">TituloN3</h5>
                 <p class="text-slate-500 text-lg mt-3">aca iria una mini info del post y un ... para seguir leyendo</p>
                 <a href="#" class="text-center bg-blue-500 text-white py-2 rounded-lg font-semibold mt-4">Ver mas</a>
              </div>
          </div>
      </div>
 </div>            
{% endblock content %}






    
    