{% load static  %}

<link 
    rel= "icon"
    href= "{% static 'img/cocktail.png' %}"
    type= "image/png"
/>


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_layout %}{% endblock title_layout %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src= "{% static 'js/tailwind.config.js' %}"></script>
    
    {% block extra_head_layout %}{% endblock extra_head_layout %}
        
</head>
<body>
   
 {% block content_layout %}{% endblock content_layout %}
    
</body>
<footer>
  {% block footer_layout %}{% endblock footer_layout %}
</footer>
</html>

