{% load static  %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_layout %}{% endblock title_layout %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head_layout %}{% endblock extra_head_layout %}
        
</head>
<body class="min-w-[280px]">
    {% block content_layout %}{% endblock content_layout %}
</body>
</html>

{
{% comment %}
    min-w-= el tamaño de como se mostrara el cuerpo a partir de los 280px
{% endcomment %}
    }