{% extends 'layouts/post_layout.html' %}

{%  block title %} Eliminar Post| BLOG IA {% endblock title %}


{% block content %} 
  <h2>¿Estás seguro de que deseas eliminar este post?</h2>
  <form method="post">
     {% csrf_token %}
     <button type="submit">Sí, eliminar</button>
 </form>

<a href="{% url 'post:post_detail' slug=object.slug %}">Cancelar</a>
{% comment %} <a href="javascript:history.back()">Cancelar</a> {% endcomment %}
{% endblock content %}

{
{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    <h1>Post Eliminar</h1>
</body>
</html>
{% endcomment %}
    }